:root {
  --bc-color: #fff;
  --text-color: #222;
  --title-color: #000;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.dark-body {
  background-color: rgb(0, 85, 89);
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: var(--bc-color);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 900px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* BUTTON */
.button {
  display: flex;
  padding: 12px 20px;
  border: 0;
  border-radius: 6px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  background-color: transparent;
  color: var(--text-color);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

/* SITE-HEADER */
.site-header {
  background-color: rgb(243, 233, 210);
  box-shadow: 0 1px 10px black;
  z-index: 1;
}

.dark-body .site-header {
  background-color: #35415d;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.dark-body .site-header__logo-link {
  color: #fff;
}

.site-header__logo-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 22px;
  font-family: 'oswald', 'Roboto', sans-serif;
  }

.site-header__logo-link:hover .site-header__logo-text {
  opacity: 0.8;
}

.site-header__logo-link:active .site-header__logo-text {
  opacity: 0.6;
}

.site-header__img {
  margin-right: 8px;
}

.site-header__logo-text {
  display: inline-block;
}


.checbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 5px;
  width: 50px;
  height: 24px;
  border-radius: 12px;
  background-color: #222;
  cursor: pointer;
}

.checbox_moon-img {
  display: block;
  width: 16px;
  height: 16px;
}

.checbox__btn {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px 3px #ffa7c4;
  flex-shrink: 0;
  transition: margin 0.2s ease-out;
}

.checbox-toggle .checbox__btn {
  left: auto;
  margin-left: 20px;
}

.checbox_sun-img {
  display: block;
  width: 16px;
  height: 16px;
}


/* HERO */
.main-content {
  flex-grow: 1;
  padding-bottom: 40px;
}

.bg-main-content {
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../img/toshkent.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dark-body .bg-main-content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/toshkent.jpg);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.hero__content {
  width: 40%;
  margin-right: 20px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 36px;
  line-height: 1.2;
  text-shadow: 1px 2px 5px #000;
}

.hero__form {
  position: relative;
  display: flex;
  flex-shrink: 0;
}

.hero__input {
  width: 70%;
  padding: 8px;
  border: 0;
  border: 2px solid transparent;
  font-size: 18px;
  border-radius: 6px 0 0 6px;
  background-color: rgb(230, 237, 238);
}

.error-message {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 70%;
  padding: 2px 6px;
  font-style: italic;
  background-color: #f64343;
  color: #fff;
  border-radius: 0 0 6px 6px;
}

.hero__input:focus {
  outline: 0;
}

.hero__input:not(:focus):not(:placeholder-shown):invalid {
  border-color: red;
}

.hero__input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
  display: block;
}

.hero__button {
  display: flex;
  padding: 8px 20px;
  background-color: rgb(63, 124, 245);
  border-radius: 0;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  border-radius: 0 6px 6px 0;
}

.hero__img-block {
  display: flex;
  position: relative;
}

.hero__img-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}

.right-button {
  right: -25px;
  top: calc(50% - 50px);
}

.hero__img {
  display: block;
}

.left-button {
  left: -25px;
  top: calc(50% - 50px);
}

.hero__img {
  display: block;
  width: 450px;
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 25px;
}

.hero__list {
  width: 450px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
  padding-bottom: 10px;
}

.hero__item {
  flex-shrink: 0;
}

.hero__item:not(:last-child) {
  margin-right: 10px;
}

.hero__item-button {
  position: relative;
  z-index: 1000;
  border: 3px solid transparent;
  padding: 0;
}

.hero__item-button:focus {
  outline: 0;
}


.hero__item--active .hero__item-button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #ff7500;
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
}

.hero__list {
  /* Foreground, Background */
  scrollbar-color: #ff7500 rgb(215, 213, 213);
}

.hero__list::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}

.hero__list::-webkit-scrollbar-thumb { /* Foreground */
  border-radius: 5px;
  background: #ff7500;
}

.hero__list::-webkit-scrollbar-track { /* Background */
  border-radius: 5px;
  background: rgb(215, 213, 213);
}

.hero__item-button:hover::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  content: "";
}

.hero__btn-img {
  display: inline-block;
  object-fit: cover;
  width: 99px;
  height: 99px;
}

/* .js-active-title {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  background-color: rgb(255, 248, 248, 0.8);
  z-index: 55000;
} */

.wrapper__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  text-shadow: 1px 2px 5px red;
}

.dark-body .wrapper__title {
  color: #fff;
}

.wrapper__text {
  margin-top: 0;
  margin-bottom: 40px;
}

.wrapper__img {
  width: 100%;
  margin-bottom: 40px;
}

.wrapper__map {
  width: 100%;
  height: 400px;
}


/* MODAL */
.dark-body .modal {
  background-color: rgba(255, 255, 255, 0.6);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-open {
  display: block;
}

.modal__container {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.dark-body .modal__content {
  background-color: rgb(37, 48, 48);
}

.modal__content {
  position: relative;
  padding: 30px;
  margin-top: 250px;
  border-radius: 10px;
  background-color: #fff;
}

.modal__text {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 20px;
}

.modal__block-button {
  display: inline-flex;
  justify-content: center;
}

.modal__button {
  background-color: rgb(73, 142, 233);
  color: #fff;
}

.modal__button::before {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -10;
}